fastapi
uvicorn
python-dotenv
google-genai
faiss-cpu>=1.12.0
torch
numpy
scipy
sentence-transformers
transformers
pydantic
python-multipart
jinja2
aiofiles
beautifulsoup4
requests
scikit-learn
deep-translator
langdetect
nltk
SpeechRecognition
